<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '好きなアイドル一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
 <div class="container">
   <h1>好きなアイドル一覧</h1>
   <div class="float-end">
     <a th:href="@{/idol/add}" class="btn btn-primary">好きなアイドルを登録</a>
   </div>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>ID</th>
         <th>名前</th>
         <th>所属グループ</th>
		 <th>生年月日</th>
		 <th>出身</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="idol : ${idollist}" th:object="${idol}" class="align-middle">
         <td th:text="*{id}"></td>
         <td th:text="*{name}"></td>
		 <td th:text="*{group_name}"></td>
		 <td th:text="${#temporals.format(idol.birth_day, 'yyyy/MM/dd')}"></td>
		 <td th:text="*{birth_place}"></td>
         <td><a th:href="@{/idol/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
       </tr>
     </tbody>
   </table>
 </div>
</body>
</html>